.darkmode{ 
    height: 6vw;
    width: 15vw;
    border: .1vw solid black;
    border-radius: 1vw;
    margin: 1.5vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
input[type="checkbox"]{
    width: 2vw;
    height: 2vw;
    margin: 0;
    margin-left: 25%;
}
.checkboxDiv{
    align-content: center;
}