.darkmode{ 
    height: 6vw;
    width: 5vw;
    margin: 1.5vw;
    margin-left: 3vw;
}
/* input[type="checkbox"]{
    width: 2vw;
    height: 2vw;
    margin: 0;
    margin-left: 25%;
}
.checkboxDiv{
    align-content: center;
} */