body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  flex-direction:column;
}

.canvasDiv{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.interfaceDiv{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.interfaceContainer{
  width: 70%;
  height: 98%;
  margin: 0.5%;
  display: flex;
  flex-direction: unset;
align-content: flex-start;
}

canvas{
  width: 95%;
  height: 95%;
  border: .3vw solid black;
  border-radius: 2vw;
  background-color: white;
}

.settingDiv{
  width: 20vw;
  height: 3vw;
  border: .1vw solid black;
  border-radius: 1vw;
  display: flex;
  flex-direction:row;
  margin-left: 1vw;
justify-content: space-evenly;
}

.coding{
  width: 50vw;
  height: 6vw;
  border: .1vw solid black;
  border-radius: 1vw;
  margin: 0.5vw;
}

.decodeDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.encodeDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.decodeInput{
  height:2vw;
  width: 5vw;
}

input[type="range"]{
  width:6vw
}

input[type="number"]{
  height:2.5vw;
  width: 5vw;
}

button{
  margin-top: .9vw;
  width: 3vw;
  height: 1.5vw;
}