body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  flex-direction: column;
}

.canvasDiv{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.interfaceDiv{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.interfaceContainer{
  width: 98%;
  height: 98%;
  margin: 0.5%;
  display: flex;
  flex-direction: row;
}

canvas{
  width: 98%;
  height: 98%;
  border: .3vw solid black;
  background-color: white;
}

.settingDiv{
  width: 30vw;
  height: 3vw;
  border: .1vw solid black;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: row;
}